body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(202, 255, 250);
}
h1 {
    color:rgb(25, 53, 53);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

#reset-button {
    margin-top: 20px;
    background-color: #063425;
    color: white;
    border: none;
    border-radius: 5px;
}

#submit-button {
    background-color: #3a9482;
    color: white;
    border: none;
    border-radius: 5px;
}

#word-display {
    font-size: 25px;
    margin-bottom: 20px;
    letter-spacing: 10px;
}
#game-container {
    border: 10px dotted #1c958d;
    border-radius: 10px;
    background-color: #85ceba;
    margin: 50px auto;
    padding: 100px;
    width: 75%;
    max-width: 400px;
}
#score-lives-container {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}
#lives {
    display: inline-block;
    width: 70px;
    text-align: left;
}

